.App {
  padding: 30px;
  display: flex;
}

.App > div {
  margin-right: 50px;
}
.todolist{
  border: 2px green;
  background-color: lightgreen;
  border-radius: 5px;
  padding: 10px;
}

.error {

  border: solid red 10px;
}
.errorMessage {
  color: red;
}

.filterButton{

  background-color: green;
}

.isDone {
  opacity: 0.5;
}
